<% errors.forEach(function(msg) { %>
    <div class="alert alert-danger small text-center"><%=msg%></div>
  <% }) %>

<% success.forEach(function(msg) { %>
<div class="alert alert-success small text-center"><%=msg%></div>
<% }) %>